body {margin:0 auto; background:#f1f1f1;}
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, del, form, th, td{ padding:0; margin:0;}
li{ float:left;}
body, button, ul, li, ol, p, dl, dd, h1, h2, h3, h4, h5, h6, img, iframe, form,input{margin: 0;padding: 0;list-style-type: none;border: 0;}
html {font-size: 12px;color: #000;font-family: "宋体",SimSun;}
a,a:hover{ text-decoration:none; color:#000;}
/**top**/
.mob_all{ width:320px; height:auto; margin:0 auto;}
.mob_top{ height:35px; width:100%; background:#ed4873;}
.mob_top_fl{ width:12%; background:url(../img/fl.png) no-repeat center center; float:left; height:35px; border-right:1px solid #e3305e;}
.mob_top_lo{ width:28%; background:url(../img/logo.png) no-repeat center center; float:left; height:35px; border-left:1px solid #f16b8e;}
.mob_top_seck{ width:52.58%; margin: 4px 2% 4px 3.5%; border:1px solid #ddd; background:#fff; border-radius:35px; height:25px; float:left;}
.mob_top_seck_arrow{ width:20%; height:25px; background:url(../img/sec.png) no-repeat center center; float:left;}
.mob_top_seck_input{ height:25px; width:60%; line-height:25px; font-size:14px; color:#777; float:left;}
.mob_top_seck_yy{ width:20%; height:25px; background:url(../img/yy.png) no-repeat center center; float:right;}
.mob_banner{ width:100%; margin-bottom:10px;}
.mob_banner img{ width:100%;}
/**content-skill**/
.content{ width:100%;}
.mob_skill{ width:95%; margin:0 2.5%; background:#fff; border:1px solid #ddd;margin-bottom: 10px; position:relative;}
.mob_skill_img img{ width:100%;}
.mob_skill_title{ height:28px; line-height:28px; margin-left:5px;}
.skill_red{ font-size:12px; color:#ed4873; font-weight:bold;}
.skill_right{ font-family:Arial, Helvetica, sans-serif; font-size:24px; color:#ff0000; float:right; margin-right:5px;}
.skill_r{ font-family:Arial, Helvetica, sans-serif; font-size:18px;}
.skill_time{ position:absolute; top:0; right:0;z-index: 9999; width:110px; height:25px; line-height:25px; font-size:14px; color:#fff; background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;}
.skill_time span{ background:url(../img/time.png) no-repeat center center; display:block; width:25px; height:25px; float:left; margin-right:5px;}
/**content-fl**/
.mob_fl{ width:96%; margin:10px auto; height:55px; clear:both; }
.mob_fl_left{ width:5%; background:url(../img/left.png) no-repeat left center; height:55px; float:left}
.mob_fl_right{ width:5%; background:url(../img/right.png) no-repeat right center; height:55px; float:right}
.mob_fl_conter{ width:90%; overflow:hidden; float:left; height:85px;}
.mob_fl_conter li{ width: 20%;  }
.mob_fl_conter p{ height:25px; line-height:15px; text-align:center; color:#ed4873;}
.mob_fl_conter p a, .mob_fl_conter p a:hover{color:#ed4873;}
.mob_fl_li_zb{ height:50px; background:url(../img/zb.png) no-repeat center top;}
.mob_fl_li_fs{ height:50px; background:url(../img/fs.png) no-repeat center top;}
.mob_fl_li_hzp{ height:50px; background:url(../img/hzp.png) no-repeat center top;}
.mob_fl_li_jd{ height:50px; background:url(../img/jd.png) no-repeat center top;}
.mob_fl_li_xm{ height:50px; background:url(../img/xm.png) no-repeat center top;}
.mob_fl_li_zb{ height:50px; background:url(../img/zb.png) no-repeat center top;}
.mob_fl_li_zb{ height:50px; background:url(../img/zb.png) no-repeat center top;}
/**content-act**/
.mob_act{ width:100%; margin-bottom:10px; clear:both;}
.mob_act h3{ font-family:"微软雅黑"; font-size:16px; color:#111; height:25px; line-height:25px; margin-bottom:10px;}
.mob_act_pro{ width:97.5%; padding-left:2.5%;}
.mob_act_pro li{ width:47.5%; margin-right:2.5%; margin-bottom:10px;}
.mob_act_product{ width:100%; background:#fff; border:1px solid #ddd; position:relative;}
.act_time{ position:absolute; top:0; right:0;z-index: 9999; width:55px; height:25px; line-height:25px; font-size:14px; color:#fff; background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;}
.act_time span{ background:url(../img/time.png) no-repeat center center; display:block; width:25px; height:25px; float:left;}
.mob_act_title{ height:48px; line-height:28px; margin-left:5px;}
.act_yj{ color:#aaa; text-decoration:line-through; line-height:10px; display:block;}
.act_yg{ color:#aaa; line-height:10px; display:block;}
.act_right{ font-family:Arial; font-size:14px; color:#ff0000; float:right; margin-right:5px; text-decoration:none;}
.act_r{ font-family:Arial; font-size:12px;}
.mob_brank_title{ height:48px;}
.brank_logo{ width:40%; margin:0 auto; text-align:center; float:left; height:48px;}
.brank_logo img{ width:90%;}
.brank_title{ width:60%; float:left;}
.brank_tit{  height:30px; line-height:30px; font-size:16px; color:#000; font-weight:bold; text-align:center;}
.brank_js{  height:18px; line-height:10px; font-size:12px; color:#666; text-align:center;}
.mob_act_product img{ width:100%;}
/**footer**/
.mob_foot{ width:100%; height:55px; background:url(../img/bg.jpg) repeat-x;}
.foot_content{ margin:0 auto; width:75%; height:50px; overflow:hidden;}
.foot_home a, .foot_home a:hover{ padding-top:33px; width:100%; height:17px; background:#fff; display:block; background-img:url(../img/home1.png); background-repeat:no-repeat; background-position: center 5px; color:#ed4873; text-align:center; text-decoration:none; border-left:1px solid #4a4a4a;}
.foot_home{ float:left; width:25%;}
/*.foot_home a{ padding-top:33px; width:100%; height:17px; display:block; background-img:url(../img/home.png); background-repeat:no-repeat; background-position: center 5px; color:#fff; text-align:center; text-decoration:none; border-left:1px solid #4a4a4a;}
.foot_home a:hover{ background:#fff;background-img:url(../img/home1.png); background-repeat:no-repeat; background-position: center 5px; color:#ed4873;text-decoration:none;}*/
.foot_sc{ float:left; width:24.3%;}
.foot_sc a{ padding-top:33px; width:100%; height:17px; display:block; background-img:url(../img/sc.png); background-repeat:no-repeat; background-position: center 5px; color:#fff; text-align:center; text-decoration:none; border-left:1px solid #4a4a4a;}
.foot_sc a:hover{ background:#fff;background-img:url(../img/sc1.png); background-repeat:no-repeat; background-position: center 5px; color:#ed4873;text-decoration:none; border-lef}
.foot_buy{ float:left; width:25%;}
.foot_buy a{ padding-top:33px; width:100%; height:17px; display:block; background-img:url(../img/buy.png); background-repeat:no-repeat; background-position: center 5px; color:#fff; text-align:center; text-decoration:none; border-left:1px solid #4a4a4a;}
.foot_buy a:hover{ background:#fff;background-img:url(../img/buy1.png); background-repeat:no-repeat; background-position: center 5px; color:#ed4873;text-decoration:none; }
.foot_user{ float:left; width:25%;}
.foot_user a{ padding-top:33px; width:100%; height:17px; display:block; background-img:url(../img/user.png); background-repeat:no-repeat; background-position: center 5px; color:#fff; text-align:center; text-decoration:none; border-left:1px solid #4a4a4a; border-right:1px solid #4a4a4a;}
.foot_user a:hover{ background:#fff;background-img:url(../img/user1.png); background-repeat:no-repeat; background-position: center 5px; color:#ed4873;text-decoration:none; }